
@import url('http://fonts.googleapis.com/css?family=Muli');
@import url('http://fonts.googleapis.com/css?family=Raleway:900,800,700');
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700');



#{headings()}{
	font-family:'Lato', sans-serif;
	font-weight:800;
	color:#0A2933;
	text-align:	left;
	padding-bottom:4%;
}





